# npm
node_modules

# vscode
.vscode

#yarn
yarn.lock

# vuepress
docs/.vuepress/dist

# 百度链接推送
urls.txt

# mac
.DS_Store

**/.cache
**/.temp
.idea
**/.$multiple-team-modeling.drawio.bkp

**/dist
**/build

**/*.bkp

**/tmp